@import 'variable';
@import 'mixin';

$skill-prec-width: 150px;
$skill-prec-padding: 10px;



.skills{
  position: relative;
  background-color: $black;
  padding: 150px 0;
  // border: 10px solid rgb(212, 212, 212);
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  h2{
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    padding-bottom: 50px;
    width: 100%;
    color: $white;
  }
}

.skill-container {
  width: 100%;
  padding: 30px 0;
  @include respond-to(tablet) {
    width: 1 / 2 * 96%;
  }
  @include respond-to(desktop) {
    width: 1 / 3 * 96%;
  }
  p {
    text-align: center;
    margin-top: 30px;
    color: $white;
  }
  .prec-container{
    position: relative;
    width: $skill-prec-width;
    height: $skill-prec-width;
    margin: 0 auto;
    .circle{
    position: absolute;
    top: $skill-prec-padding / 2;
    left: $skill-prec-padding / 2;
    text-align: center;
    width: $skill-prec-width - $skill-prec-padding;
    height: $skill-prec-width - $skill-prec-padding;
    border-radius: 50%;
    background-color: $black;
    }

    .active-border{
      position: relative;
      text-align: center;
      width: $skill-prec-width;
      height: $skill-prec-width;
      border-radius: 50%;
      transition: background-image 0.5s;
      background-color: #4D97D7;
      background-image:
        linear-gradient(90deg, transparent 50%, rgb(227, 227, 227) 50%),
        linear-gradient(90deg, rgb(227, 227, 227) 50%, transparent 50%);
    }

    .prec{
      pointer-events: none;
      font-weight: 300;
      color: $white;
      position: relative;
      top: 55px;
      left: 1px;
      font-size: 1.6em;
    }
  }
}
